@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;700;800&family=Preahvihear&display=swap');
*{
    margin: 0;
    padding : 0;
}
body{
    background: url("https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-thumb.jpg");
    background-color: rgb(26, 91, 129);
    font-family: 'Handjet', cursive;
    font-family: 'Preahvihear', sans-serif;
    color:white;
}
h1{
    color : rgb(7, 7, 7);
    font-size: 60px;
    font-weight: 900;
}
h3{
    position: absolute;
    left : 590px;
    top : 100px; 
    color: black;  
}
h4{
    font-size : 20px;
    font-weight: 400;
}

.block{
    text-align: center;
}

canvas{
    display: block;
    background-color: #F6E9E9;
    margin : 20px;
}
input{
    margin: 20px 0px 0px 20px ;
}